<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liangmayong.apkbox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name="com.liangmayong.apkbox.proxy.ProxyActivity"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.ProxyService"
            android:process="@string/apkbox_process"/>
    </application>

</manifest>
