<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.liangmayong.apkbox">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- permission  -->
    <permission
        android:name="${applicationId}.permission.APK_RECEIVE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.APK_RECEIVE"/>

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <!-- ProxyActivity -->
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy404Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy00Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy01Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy02Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy03Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy04Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy05Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy06Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy07Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy08Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy09Activity"
            android:process="@string/apkbox_process"/>
        <activity
            android:name="com.liangmayong.apkbox.proxy.activity.Proxy10Activity"
            android:process="@string/apkbox_process"/>

        <!-- ProxyService -->
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy404Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy00Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy01Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy02Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy03Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy04Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy05Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy06Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy07Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy08Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy09Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy10Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy11Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy12Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy13Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy14Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy15Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy16Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy17Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy18Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy19Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy20Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy21Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy22Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy23Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy24Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy25Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy26Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy27Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy28Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy29Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy30Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy31Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy32Service"
            android:process="@string/apkbox_process"/>
        <service
            android:name="com.liangmayong.apkbox.proxy.service.Proxy33Service"
            android:process="@string/apkbox_process"/>
    </application>

</manifest>
